:root {
    --switch-width: 40px;
    --switch-height: 20px;
    --switch-padding: 3px;
    --switch-animation-duration: 0.2s;
}

:root {
    --steps-v2-steps-nr: 10;
    /* number of steps */
}

@supports (--css: variables) {
    .steps-v2__indicator {
        position: relative;
        height: 8px;
        border-radius: 50em;
        background-color: var(--color-contrast-lower);
    }

    .steps-v2__indicator::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: calc(
            100% / var(--steps-v2-steps-nr) * var(--step-v2-current-step, 1)
        );
        background-color: var(--color-primary);
        border-radius: inherit;
        transition: width 0.2s;
    }
}
.filter--form__search input {
    height: 33px;
}

.filter--form__search .btn {
    border: 1px solid #eee;
}

.dropdown--icon {
    position: relative;
    bottom: 25px;
    right: 10px;
}
.text-divider {
    margin: var(--space-lg) auto;
    display: flex;
    text-align: center;
    align-items: center;
}
.text-divider span {
    font-size: var(--text-xs);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 var(--space-sm);
}
.text-divider::after,
.text-divider::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 20px;
    flex-grow: 1;
    background: var(--color-contrast-low);
    vertical-align: middle;
}
.text-component .text-divider {
    margin: calc(var(--space-md) * var(--text-space-y-multiplier)) auto;
}
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
    padding: 10px;
}
.small-box > .small-box-footer {
    font-size: 15px;
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: hsla(0, 0%, 100%, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}
.small-box p {
    font-size: 17px;
    font-weight: bold;
}
.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 1px;
    margin-top: 5px;
}
.small-box h3,
.small-box p {
    z-index: 5px;
}
.small-box .icon {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.bg-teal {
    background-color: #cc8400 !important;
}
.bg-orange {
    background-color: #005aff !important;
}
.bg-green {
    background-color: #009a00 !important;
}
.bg-yellow {
    background-color: #004d00 !important;
}
.inner {
    -webkit-tap-highlight-color: transparent;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 13px;
    color: #fff !important;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 10px;
}
.inner h3 {
    color: #fff !important;
}
.bg-purple {
    background-color: #1cb3e6 !important;
}
.bg-maroon {
    background-color: #ffae1a !important;
}
.note {
    background-color: var(--color-bg-light);
    border-left: 3px solid var(--color-primary);
    box-shadow: var(--shadow-sm);
}
.note:not([class^="padding-"]):not([class*=" padding-"]) {
    padding: var(--space-sm);
}
.note--warning {
    border-left-color: var(--color-warning);
}
.note--error {
    border-left-color: var(--color-error);
}
.note--success {
    border-left-color: var(--color-success);
}
.text-component .note__content > *:last-child {
    margin-bottom: 0;
}
.text-component .note__title {
    margin-bottom: 0;
}
.required__label {
    font-size: 15px;
    color: red;
}
.tabs-nav-v2 {
    --tabs-nav-border-width: 1px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: var(--tabs-nav-border-width) solid
        var(--color-contrast-lower);
}
.tabs-nav-v2 li {
    display: inline-block;
    margin-right: var(--space-xs);
    margin-bottom: var(--space-xs);
}
.tabs-nav-v2__item {
    display: inline-block;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius-md);
    background-color: hsla(
        var(--color-contrast-higher-h),
        var(--color-contrast-higher-s),
        var(--color-contrast-higher-l),
        0.1
    );
    color: inherit;
    white-space: nowrap;
    text-decoration: none;
}
.tabs-nav-v2__item--selected,
.tabs-nav-v2__item[aria-selected="true"] {
    color: var(--color-bg);
    background-color: var(--color-contrast-higher);
}
@media (min-width: 64rem) {
    .tabs-nav-v2 li {
        margin: 0;
    }
    .tabs-nav-v2__item {
        border-radius: var(--radius-md) var(--radius-md) 0 0;
        background-color: transparent;
        border: var(--tabs-nav-border-width) solid transparent;
        border-bottom-width: 0;
        transition: 0.2s;
    }
    .tabs-nav-v2__item:hover {
        background-color: hsla(
            var(--color-contrast-higher-h),
            var(--color-contrast-higher-s),
            var(--color-contrast-higher-l),
            0.075
        );
    }
    .tabs-nav-v2__item--selected,
    .tabs-nav-v2__item[aria-selected="true"] {
        position: relative;
        background-color: var(--color-bg);
        color: var(--color-primary);
        border-color: var(--color-contrast-lower);
    }
    .tabs-nav-v2__item--selected::after,
    .tabs-nav-v2__item[aria-selected="true"]::after {
        content: "";
        position: absolute;
        bottom: calc(var(--tabs-nav-border-width) * -1);
        left: 0;
        width: 100%;
        height: var(--tabs-nav-border-width);
        background-color: var(--color-bg);
    }
    .tabs-nav-v2__item--selected:hover,
    .tabs-nav-v2__item[aria-selected="true"]:hover {
        background-color: var(--color-bg);
    }
}
.alert {
    background-color: hsla(
        var(--color-primary-h),
        var(--color-primary-s),
        var(--color-primary-l),
        0.2
    );
    color: var(--color-contrast-higher);
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}
.alert__icon {
    color: var(--color-primary);
}
.alert__close-btn {
    display: inline-block;
    flex-shrink: 0;
    transition: 0.2s;
}
.alert__close-btn .icon {
    display: block;
}
.alert__close-btn:hover {
    opacity: 0.7;
}
.alert--success {
    background-color: hsla(
        var(--color-success-h),
        var(--color-success-s),
        var(--color-success-l),
        0.2
    );
}
.alert--success .alert__icon {
    color: var(--color-success);
}
.alert--error {
    background-color: hsla(
        var(--color-error-h),
        var(--color-error-s),
        var(--color-error-l),
        0.2
    );
}
.alert--error .alert__icon {
    color: var(--color-error);
}
.alert--warning {
    background-color: hsla(
        var(--color-warning-h),
        var(--color-warning-s),
        var(--color-warning-l),
        0.2
    );
}
.alert--warning .alert__icon {
    color: var(--color-warning);
}
.alert--is-visible {
    position: static;
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
}
.is-error {
    border: 0.1em solid var(--color-accent-dark);
}
:root {
    --tooltip-triangle-size: 12px;
}
.tooltip-trigger {
    white-space: nowrap;
    border-bottom: 1px dotted var(--color-contrast-high);
    cursor: help;
}
.tooltip {
    display: inline-block;
    position: absolute;
    z-index: var(--z-index-popover, 5);
    padding: var(--space-xxs);
    border-radius: var(--radius-sm);
    max-width: 200px;
    background-color: hsla(
        var(--color-contrast-higher-h),
        var(--color-contrast-higher-s),
        var(--color-contrast-higher-l),
        0.98
    );
    box-shadow: var(--shadow-md);
    color: var(--color-bg);
    font-size: var(--text-sm);
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.2s, visibility 0.2s;
}
.tooltip a {
    color: inherit;
    text-decoration: underline;
}
@supports ((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
    .tooltip::before {
        content: "";
        position: absolute;
        background-color: inherit;
        border: inherit;
        width: var(--tooltip-triangle-size);
        height: var(--tooltip-triangle-size);
        -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
    }
}
.tooltip:not(.tooltip--sticky) {
    pointer-events: none;
}
.tooltip--lg {
    max-width: 350px;
    padding: var(--space-xs);
}
.tooltip--bottom::before,
.tooltip--top::before {
    left: calc(50% - var(--tooltip-triangle-size) / 2);
}
.tooltip--top::before {
    bottom: calc(var(--tooltip-triangle-size) * -0.5);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.tooltip--bottom::before {
    top: calc(var(--tooltip-triangle-size) * -0.5);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.tooltip--left::before,
.tooltip--right::before {
    top: calc(50% - var(--tooltip-triangle-size) / 2);
}
.tooltip--left::before {
    right: calc(var(--tooltip-triangle-size) * -0.5);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.tooltip--right::before {
    left: calc(var(--tooltip-triangle-size) * -0.5);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.tooltip--is-hidden {
    visibility: hidden;
    opacity: 0;
}
.tabs__control {
    text-decoration: none;
    color: var(--color-contrast-medium);
}
.tabs__control:focus {
    outline: 2px solid
        hsla(
            var(--color-primary-h),
            var(--color-primary-s),
            var(--color-primary-l),
            0.2
        );
    outline-offset: 2px;
}
.tabs__control:hover {
    color: var(--color-contrast-high);
}
.js .tabs__control[aria-selected="true"] {
    color: var(--color-primary-light);
    text-decoration: underline;
}
.sidenav__item a {
    cursor: pointer;
}
.badge {
    border: 0;
    color: inherit;
    line-height: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius-md);
    background-color: var(--color-contrast-lower);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.badge:not([class^="padding-"]):not([class*=" padding-"]) {
    padding: var(--space-xxxs) var(--space-xxs);
}
.badge--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--color-contrast-lower);
}
.badge--contrast-higher {
    background-color: var(--color-contrast-higher);
    color: var(--color-bg);
}
.badge--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.badge--primary-light {
    background-color: hsla(
        var(--color-primary-h),
        var(--color-primary-s),
        var(--color-primary-l),
        0.2
    );
    color: var(--color-contrast-higher);
}
.badge--accent {
    background-color: var(--color-accent);
    color: var(--color-white);
}
.badge--accent-light {
    background-color: hsla(
        var(--color-accent-h),
        var(--color-accent-s),
        var(--color-accent-l),
        0.2
    );
    color: var(--color-contrast-higher);
}
.badge--error {
    background-color: var(--color-error);
    color: var(--color-white);
}
.badge--error-light {
    background-color: hsla(
        var(--color-error-h),
        var(--color-error-s),
        var(--color-error-l),
        0.2
    );
    color: var(--color-contrast-higher);
}
.badge--success {
    background-color: var(--color-success);
    color: var(--color-white);
}
.badge--success-light {
    background-color: hsla(
        var(--color-success-h),
        var(--color-success-s),
        var(--color-success-l),
        0.2
    );
    color: var(--color-contrast-higher);
}
.badge--warning {
    background-color: var(--color-warning);
    color: var(--color-white);
}
.badge--warning-light {
    background-color: hsla(
        var(--color-warning-h),
        var(--color-warning-s),
        var(--color-warning-l),
        0.2
    );
    color: var(--color-contrast-higher);
}
.table {
    position: relative;
    z-index: 1;
}
.table:not(.table--expanded) {
    border-collapse: separate;
    border-spacing: 0 var(--space-md);
    margin-top: calc(-2 * var(--space-md));
}
.table:not(.table--expanded) .table__header {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
}
.table:not(.table--expanded) .table__row .table__cell:first-child {
    border-radius: var(--radius-md) var(--radius-md) 0 0;
}
.table:not(.table--expanded) .table__row .table__cell:last-child {
    border-radius: 0 0 var(--radius-md) var(--radius-md);
}
.table:not(.table--expanded) .table__row .table__cell:last-child::after {
    display: none;
}
.table:not(.table--expanded) .table__cell {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: right;
    padding: var(--space-md);
    background-color: var(--color-bg-light);
}
.table:not(.table--expanded) .table__cell::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--space-md);
    width: calc(100% - (2 * var(--space-md)));
    height: 1px;
    background-color: var(--color-contrast-lower);
}
.table:not(.table--expanded) .table__label {
    font-weight: bold;
    text-align: left;
    color: var(--color-contrast-higher);
    margin-right: var(--space-md);
}
.table--expanded {
    border-bottom: 1px solid var(--color-contrast-lower);
}
.table--expanded .table__header .table__cell {
    position: relative;
    z-index: 10;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-contrast-lower);
    font-weight: bold;
    color: var(--color-contrast-higher);
}
.table--expanded .table__body .table__row:nth-child(odd) {
    background-color: var(--color-contrast-lower);
}
.table--expanded .table__cell {
    padding: var(--space-sm);
}
.table--expanded .table__label {
    display: none;
}
.table--expanded .table__header--sticky .table__cell {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.js .table {
    opacity: 0;
}
.js .table--loaded {
    opacity: 1;
}
[class*="table--expanded"]::before {
    display: none;
}
.table--expanded\@xs::before {
    content: "collapsed";
}
@media (min-width: 32rem) {
    .table--expanded\@xs::before {
        content: "expanded";
    }
}
.table--expanded\@sm::before {
    content: "collapsed";
}
@media (min-width: 48rem) {
    .table--expanded\@sm::before {
        content: "expanded";
    }
}
.table--expanded\@md::before {
    content: "collapsed";
}
@media (min-width: 64rem) {
    .table--expanded\@md::before {
        content: "expanded";
    }
}
.table--expanded\@lg::before {
    content: "collapsed";
}
@media (min-width: 80rem) {
    .table--expanded\@lg::before {
        content: "expanded";
    }
}
.table--expanded\@xl::before {
    content: "collapsed";
}
@media (min-width: 90rem) {
    .table--expanded\@xl::before {
        content: "expanded";
    }
}
:root {
    --details-list-border-width: 1px;
    --details-list-border-opacity: 0.15;
}
.details-list--rows .details-list__item {
    border-bottom: var(--details-list-border-width) solid
        hsla(
            var(--color-contrast-higher-h),
            var(--color-contrast-higher-s),
            var(--color-contrast-higher-l),
            var(--details-list-border-opacity)
        );
}
.details-list--rows .details-list__item:last-child {
    border-bottom: none;
}
.details-list--cols .details-list__item {
    border-right: var(--details-list-border-width) solid
        hsla(
            var(--color-contrast-higher-h),
            var(--color-contrast-higher-s),
            var(--color-contrast-higher-l),
            var(--details-list-border-opacity)
        );
}
.details-list--cols .details-list__item:last-child {
    border-right: none;
}
@media (min-width: 32rem) {
    .details-list--rows\@xs .details-list__item {
        border-right: 0;
        border-bottom: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--rows\@xs .details-list__item:last-child {
        border-bottom: none;
    }
    .details-list--cols\@xs .details-list__item {
        border-bottom: 0;
        border-right: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--cols\@xs .details-list__item:last-child {
        border-right: none;
    }
}
@media (min-width: 48rem) {
    .details-list--rows\@sm .details-list__item {
        border-right: 0;
        border-bottom: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--rows\@sm .details-list__item:last-child {
        border-bottom: none;
    }
    .details-list--cols\@sm .details-list__item {
        border-bottom: 0;
        border-right: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--cols\@sm .details-list__item:last-child {
        border-right: none;
    }
}
@media (min-width: 64rem) {
    .details-list--rows\@md .details-list__item {
        border-right: 0;
        border-bottom: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--rows\@md .details-list__item:last-child {
        border-bottom: none;
    }
    .details-list--cols\@md .details-list__item {
        border-bottom: 0;
        border-right: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--cols\@md .details-list__item:last-child {
        border-right: none;
    }
}
@media (min-width: 80rem) {
    .details-list--rows\@lg .details-list__item {
        border-right: 0;
        border-bottom: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--rows\@lg .details-list__item:last-child {
        border-bottom: none;
    }
    .details-list--cols\@lg .details-list__item {
        border-bottom: 0;
        border-right: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--cols\@lg .details-list__item:last-child {
        border-right: none;
    }
}
@media (min-width: 90rem) {
    .details-list--rows\@xl .details-list__item {
        border-right: 0;
        border-bottom: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--rows\@xl .details-list__item:last-child {
        border-bottom: none;
    }
    .details-list--cols\@xl .details-list__item {
        border-bottom: 0;
        border-right: var(--details-list-border-width) solid
            hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                var(--details-list-border-opacity)
            );
    }
    .details-list--cols\@xl .details-list__item:last-child {
        border-right: none;
    }
}
:root {
    --tabs-v3-border-width: 1px;
    --tabs-v3-radius: var(--radius-md);
    --tabs-v3-control-gap: var(--tabs-v3-border-width);
    --tabs-v3-control-radius: 0;
}
.tabs-v3 {
    border: var(--tabs-v3-border-width) solid var(--color-contrast-lower);
    padding: var(--component-padding);
    border-radius: var(--tabs-v3-radius);
    background-color: var(--color-bg);
}
.tabs-v3__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-xs);
}
.tabs-v3__controls li {
    display: inline-block;
    margin: 0 var(--space-xs) var(--space-xs) 0;
}
.tabs-v3__control {
    display: inline-flex;
    background-color: hsla(
        var(--color-contrast-higher-h),
        var(--color-contrast-higher-s),
        var(--color-contrast-higher-l),
        0.1
    );
    padding: var(--space-xs) var(--space-sm);
    white-space: nowrap;
    color: inherit;
    border-radius: var(--tabs-v3-control-radius);
}
.tabs-v3__control:hover {
    background-color: hsla(
        var(--color-contrast-higher-h),
        var(--color-contrast-higher-s),
        var(--color-contrast-higher-l),
        0.075
    );
}
.tabs-v3__panel {
    margin-bottom: var(--space-md);
}
.js .tabs-v3__control {
    text-decoration: none;
}
.js .tabs-v3__control[aria-selected="true"] {
    background-color: var(--color-primary);
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.js .tabs-v3__control[aria-selected="true"]:hover {
    background-color: var(--color-primary-light);
}
.js .tabs-v3__panel {
    margin-bottom: 0;
}
@media (min-width: 64rem) {
    .js .tabs-v3 {
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .js .tabs-v3__controls {
        margin-bottom: 0;
    }
    .js .tabs-v3__controls li {
        margin: 0 var(--tabs-v3-control-gap) 0
            calc(-1 * var(--tabs-v3-border-width));
    }
    .js .tabs-v3__controls li:first-child {
        margin-left: 0;
    }
    .js .tabs-v3__controls li:first-child a {
        border-radius: var(--tabs-v3-radius) var(--tabs-v3-control-radius) 0 0;
    }
    .js .tabs-v3__controls li:last-child a {
        border-radius: var(--tabs-v3-control-radius) var(--tabs-v3-radius) 0 0;
    }
    .js .tabs-v3__control {
        height: 100%;
        border: var(--tabs-v3-border-width) solid transparent;
        border-bottom-width: 0;
        border-radius: var(--tabs-v3-control-radius)
            var(--tabs-v3-control-radius) 0 0;
    }
    .js .tabs-v3__control[aria-selected="true"] {
        background-color: var(--color-bg);
        color: var(--color-primary);
        position: relative;
        border-color: var(--color-contrast-low);
    }
    .js .tabs-v3__control[aria-selected="true"]:hover {
        background-color: inherit;
    }
    .js .tabs-v3__control[aria-selected="true"]::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: calc(-1 * var(--tabs-v3-border-width));
        width: 100%;
        height: var(--tabs-v3-border-width);
        background-color: var(--color-bg);
        z-index: 1;
    }
    .js .tabs-v3__panels {
        border: var(--tabs-v3-border-width) solid var(--color-contrast-low);
        border-radius: 0 var(--tabs-v3-radius) var(--tabs-v3-radius)
            var(--tabs-v3-radius);
        background-color: var(--color-bg);
    }
    .js .tabs-v3__panel {
        padding: var(--space-sm);
    }
}
.list-v3 {
    --list-v3-gap: var(--space-md);
    --list-v3-figure-size: 40px;
    --list-v3-icon-size: 24px;
}
.list-v3__item:not(:first-child) {
    padding-top: 25px;
}
.list-v3__item:not(:last-child) {
    padding-bottom: 5px;
    border-bottom: 1px solid
        hsla(
            var(--color-contrast-higher-h),
            var(--color-contrast-higher-s),
            var(--color-contrast-higher-l),
            0.1
        );
}
.list-v3__figure {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--list-v3-figure-size);
    height: var(--list-v3-figure-size);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.list-v3__figure .list-v3__icon,
.list-v3__figure img {
    position: relative;
    z-index: 1;
}
.list-v3__figure::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: currentColor;
    opacity: 0.2;
}
.list-v3__icon {
    --size: var(--list-v3-icon-size);
}
.list-v3__link {
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        currentColor 50%,
        hsla(
                var(--color-contrast-higher-h),
                var(--color-contrast-higher-s),
                var(--color-contrast-higher-l),
                0.15
            )
            50%
    );
    background-size: 200% 2px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position 0.3s;
}
.list-v3__link:hover {
    background-position: 0 100%;
}
:root {
    --switch-width: 40px;
    --switch-height: 20px;
    --switch-padding: 3px;
    --switch-animation-duration: 0.2s;
}
.text-divider {
    margin: var(--space-lg) auto;
    display: flex;
    text-align: center;
    align-items: center;
}
.text-divider span {
    font-size: var(--text-xs);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 var(--space-sm);
}
.text-divider::after,
.text-divider::before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 20px;
    flex-grow: 1;
    background: var(--color-contrast-low);
    vertical-align: middle;
}
.text-component .text-divider {
    margin: calc(var(--space-md) * var(--text-space-y-multiplier)) auto;
}
.btn--dark {
    background-color: #fff;
    color: #666;
    border: 1px solid #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn--dark:hover {
    background-color: #666;
    color: #fff;
}
.btn--info {
    background: hsla(
        var(--color-primary-h),
        var(--color-primary-s),
        var(--color-primary-l),
        0.15
    );
    color: var(--color-primary);
}

.btn--info:hover {
    background: hsla(
        var(--color-primary-h),
        var(--color-primary-s),
        var(--color-primary-l),
        0.12
    );
}
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.small-box > .inner {
    padding: 10px;
}
.small-box > .small-box-footer {
    font-size: 15px;
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: hsla(0, 0%, 100%, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}
.small-box p {
    font-size: 17px;
    font-weight: bold;
}
.small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 1px;
    margin-top: 5px;
}
.small-box h3,
.small-box p {
    z-index: 5px;
}
.small-box .icon {
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}
.bg-teal {
    background-color: #ff4d8c !important;
}
.bg-orange {
    background-color: #005aff !important;
}
.inner {
    -webkit-tap-highlight-color: transparent;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 13px;
    color: #fff !important;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 10px;
}
.inner h3 {
    color: #fff !important;
}
.bg-purple {
    background-color: #1ec8ff !important;
}
.bg-maroon {
    background-color: #ffae1a !important;
}
.note {
    background-color: var(--color-bg-light);
    border-left: 3px solid var(--color-primary);
    box-shadow: var(--shadow-sm);
}
.note:not([class^="padding-"]):not([class*=" padding-"]) {
    padding: var(--space-sm);
}
.note--warning {
    border-left-color: var(--color-warning);
}
.note--error {
    border-left-color: var(--color-error);
}
.note--success {
    border-left-color: var(--color-success);
}
.text-component .note__content > *:last-child {
    margin-bottom: 0;
}
.text-component .note__title {
    margin-bottom: 0;
}
.footer-v3 {
    position: relative;
    z-index: 1;
}
.footer-v3__logo a,
.footer-v3__logo img,
.footer-v3__logo svg {
    width: 104px;
    height: 30px;
    display: block;
}
.footer-v3__nav {
    margin: var(--space-lg) 0;
}
.footer-v3__nav-item {
    margin-bottom: var(--space-sm);
}
.footer-v3__nav-item a {
    color: var(--color-contrast-high);
    font-size: 14px;
}
.footer-v3__nav-item a:hover {
    color: var(--color-primary);
}
.footer-v3__socials {
    display: flex;
    align-items: center;
}
.footer-v3__socials a {
    text-decoration: none;
    display: inline-block;
    margin: 0 var(--space-xs) 0 0;
    color: var(--color-contrast-high);
}
.footer-v3__socials a:hover {
    color: var(--color-primary);
}
.footer-v3__socials a .icon {
    display: block;
    width: 1.25em;
    height: 1.25em;
}
@supports (display: grid) {
    @media (min-width: 64rem) {
        .footer-v3__container {
            display: grid;
            grid-template-columns: 130px 1fr 130px;
        }
        .footer-v3__nav {
            margin: 0;
        }
        .footer-v3__nav-list {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .footer-v3__nav-item {
            padding: 0 var(--space-xs);
            margin: 0;
            position: relative;
        }
        .footer-v3__nav-item a {
            font-size: 0.875em;
        }
        .footer-v3__nav-item::after {
            content: "";
            display: inline-block;
            position: absolute;
            height: 0.8em;
            width: 1px;
            right: 0;
            top: calc(50% - 0.4em);
            background-color: var(--color-contrast-lower);
        }
        .footer-v3__nav-item:first-child {
            padding-left: 0;
        }
        .footer-v3__nav-item:last-child {
            padding-right: 0;
        }
        .footer-v3__nav-item:last-child::after {
            display: none;
        }
        .footer-v3__socials a {
            margin: 0 0 0 var(--space-xs);
        }
        .footer-v3__socials a .icon {
            width: 1em;
            height: 1em;
        }
    }
}

:root {
    --user-cell-img-size: 64px;
  }

  .user-cell {
    --space-unit: 1rem;
    font-size: 1rem;
    background: hsla(var(--color-contrast-lower-h), var(--color-contrast-lower-s), var(--color-contrast-lower-l), 0.5);
    padding: var(--space-sm);
    border-radius: var(--radius-md);
  }

  .user-cell__img {
    display: block;
    border-radius: 50%;
    width: var(--user-cell-img-size);
    height: var(--user-cell-img-size);
    margin-bottom: var(--space-sm);
  }

  .user-cell__content {
    margin-bottom: var(--space-sm);
  }

  .user-cell__social-icon {
    --size: 52px;
    width: var(--size);
    height: var(--size);
    display: flex;
    border-radius: 50%;
    background-color: var(--color-bg-light);
    box-shadow: var(--inner-glow), var(--shadow-xs);
    transition: 0.2s;
  }
  .user-cell__social-icon .icon {
    display: block;
    margin: auto;
    color: var(--color-contrast-medium);
    transition: color 0.2s;
  }
  .user-cell__social-icon:hover {
    background-color: var(--color-bg-lighter);
    box-shadow: var(--inner-glow), var(--shadow-sm);
  }
  .user-cell__social-icon:hover .icon {
    color: var(--color-contrast-higher);
  }

  @supports (grid-area: auto) {
    .user-cell {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      grid-gap: var(--space-xxs);
    }

    .user-cell__body {
      display: grid;
      grid-template-columns: var(--user-cell-img-size) 1fr;
      align-items: center;
      grid-gap: var(--space-xs);
    }

    .user-cell__img,
  .user-cell__content {
      margin-bottom: 0;
    }
  }
